Checks: '
    clang-diagnostic-*,
    Google-*,
    clang-analyzer-*,
    modernize-*,
    performance-*,
    portability-*,
    readability-*,
    cert-*,
    -readability-else-after-return,
    -clang-analyzer-core.CallAndMessage,
    -clang-analyzer-optin.performance.Padding,
    -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
    -modernize-macro-to-enum
    '
WarningsAsErrors: true
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle: none
