[submodule "external/Unity"]
	path = external/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "external/nanopb"]
	path = external/nanopb
	url = https://github.com/nanopb/nanopb.git
