[submodule "external/Unity"]
	path = external/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "external/nanopb"]
	path = external/nanopb
	url = https://github.com/nanopb/nanopb.git
[submodule "external/libcoap"]
	path = external/libcoap
	url = git@github.com:obgm/libcoap.git
