name: Continuous Integration

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  ci:
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
    name: ci
    env:
      REACTOR_UC_PATH: ${{ github.workspace }}
    runs-on: ${{ matrix.platform }}

    steps:
      - name: Install Git
        run: |
          apt-get update
          apt-get install git -y
      - name: Checkout
        uses: actions/checkout@v3
        with:
            submodules: recursive
      - name: Install deps (Linux)
        run: |
          apt-get install pipx -y
          pipx install clang-tidy
        if: matrix.platform == 'ubuntu-latest'

      - name: Install deps (macOS)
        run: brew install coreutils
        if: matrix.platform == 'macos-latest'

      - name: Setup java and gradle for compiling lfc
        uses: ./.github/actions/lingua-franca

      # Uncomment to SSH into the runner.
      # - name: Setup upterm session
      #   uses: lhotari/action-upterm@v1
      #   if: matrix.platform == 'macos-latest'

      - name: Run unit tests
        run: make unit-test

      - name: Run LF integration tests
        run: make lf-test
