name: Continuous Integration

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  ci:
    strategy:
      matrix:
        platform: [ubuntu-24.04, macos-latest]
    name: ci
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
            submodules: recursive
      - name: Install deps (Linux)
        run: |
          sudo apt-get install pipx -y
          sudo pipx install clang-tidy
        if: matrix.platform == 'ubuntu-24.04'

      - name: Install deps (macOS)
        run: brew install coreutils
        if: matrix.platform == 'macos-latest'

      - name: Setup java and gradle for compiling lfc
        uses: ./.github/actions/lingua-franca

      # Uncomment to SSH into the runner.
      # - name: Setup upterm session
      #   uses: lhotari/action-upterm@v1
      #   if: matrix.platform == 'macos-latest'

      - name: Run unit tests
        run: make unit-test

      - name: Run LF integration tests
        run: |
          source env.bash
          make lf-test

      - name: Build examples
        run: make examples
