name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  ci:
    name: ci
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
            submodules: recursive
      - name: Install deps
        run: |
          sudo apt-get install lcov
      - name: Setup java and gradle for compiling lfc
        uses: ./.github/actions/prepare-build-env 
      # Uncomment to SSH into the runner.
      - name: Setup upterm session
        uses: lhotari/action-upterm@v1
      - name: Run tests
        run: |
          source env.bash
          make format-check
          make test
          make coverage
      - name: Coverage
        uses: romeovs/lcov-reporter-action@2a28ec3e25fb7eae9cb537e9141603486f810d1a
        with:
          lcov-file: build/coverage.info
          delete-old-comments: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
        if:  ${{ github.event_name == 'pull_request' }}