name: FlexPRET examples

on:
  pull_request:
  
jobs:
  ci:
    name: Build FlexPRET examples
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install dependencies
        uses: ./.github/actions/flexpret
      - name: Setup java and gradle for compiling lfc
        uses: ./.github/actions/lingua-franca
      - name: Build examples
        run: |
          source env.bash
          cd examples/flexpret
          ./buildAll.sh
      
