name: FlexPRET examples

on:
  push:
    branches: [ main ]
  pull_request:
  
jobs:
  ci:
    name: Build FlexPRET examples
    runs-on: ubuntu-latest
    container:
      image: debian:latest

    steps:
      - name: Install Git
        run: |
          apt-get update
          apt-get install cmake git -y
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install dependencies
        uses: ./.github/actions/flexpret
      - name: Setup java and gradle for compiling lfc
        uses: ./.github/actions/lingua-franca
      - name: Build examples
        run: |
          source env.bash
          cd examples/flexpret
          #./buildAll.sh
      
