name: Continuous Integration

on:
  push:
    branches: [ main ]
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
  formatting:
    name: formatting
    runs-on: ubuntu-latest
    container:
      image: debian:latest

    steps:
      - name: Install Git
        run: |
          apt-get update
          apt-get install git -y
      - name: Checkout
        uses: actions/checkout@v3
        with:
            submodules: recursive
      - name: Install deps
        run: |
          apt-get install pipx -y
          pipx install clang-format==19.1.5 
          pipx install clang-tidy
      - name: Setup java and gradle for compiling lfc
        uses: ./.github/actions/lingua-franca
      - name: Runtime format check
        run: |
          clang-format --version
          make format-check
      - name: LFC format check
        run: cd lfc && ./gradlew spotlessCheck
