name: "Platform: PATMOS"

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
    ci:
        name: Build examples (${{ matrix.name }})
        runs-on: ${{ matrix.runsOn }}
        strategy:
          matrix:
            include:
              - name: self-hosted
                runsOn: [self-hosted]
              - name: ubuntu-24.04
                runsOn: ubuntu-24.04
        env:
          REACTOR_UC_PATH: ${{ github.workspace }}
        steps:
          - name: Checkout
            uses: actions/checkout@v3
            with:
              submodules: recursive

          - name: Install dependencies (self-hosted)
            if: ${{ contains(runner.labels, 'self-hosted') }}
            uses: ./.github/actions/patmos-self-hosted

          - name: Install dependencies (GitHub-hosted)
            if: ${{ !contains(runner.labels, 'self-hosted') }}
            uses: ./.github/actions/patmos

          - name: Build examples
            working-directory: ${{ github.workspace }}/examples/patmos
            run: |
              ./buildAll.sh