name: "Platform: PATMOS"

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
    ci:
        name: Build examples
        runs-on: ubuntu-24.04
        env:
          REACTOR_UC_PATH: ${{ github.workspace }}
        steps:
          - name: Checkout
            uses: actions/checkout@v3
            with:
              submodules: recursive

          - name: Install dependencies
            uses: ./.github/actions/patmos

          - name: Build examples
            working-directory: ${{ github.workspace }}/examples/patmos
            run: |
              ./buildAll.sh