name: Pico examples

on:
  pull_request:
  
jobs:
  ci:
    name: Build Pico examples
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install dependencies
        uses: ./.github/actions/zephyr
      - name: Build examples
        run: |
          cd examples/pico
          cmake -Bbuild && cd build
          make
      