name: "Platform: POSIX"

on:
  push:
    branches: [ main ]
  pull_request:
  
jobs:
  ci:
    name: Build examples
    runs-on: ubuntu-latest
    container:
      image: debian:latest

    steps:
      - name: Install Git
        run: |
          apt-get update
          apt-get install cmake git build-essential -y
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Build and run Posix examples
        working-directory: ${{ github.workspace }}/examples/posix
        run: ./buildAll.sh
      
