name: RIOT examples

on:
  pull_request:

jobs:
  ci:
    name: Build RIOT examples
    runs-on: ubuntu-latest
    container:
      image: riot/riotbuild:latest
    env:
      RIOT_VERSION: "2024.01"
      RIOTBASE: "/opt/riot-2024.01"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install dependencies
        uses: ./.github/actions/riot

      - name: Build examples
        run: |
          cd examples/riot
          ./buildAll.sh
