name: "Platform: RIOT"

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  ci:
    name: Build examples and run tests
    runs-on: ubuntu-24.04
    container:
      image: riot/riotbuild:latest
      options: --privileged
    env:
      RIOT_COMMIT_ID: "12b719a0bc2874f0d51a3cd71e9b0068ffbc54b4"
      RIOTBASE: "/opt/riot-12b719a0bc2874f0d51a3cd71e9b0068ffbc54b4"
      REACTOR_UC_PATH: ${{ github.workspace }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install RIOT dependencies
        uses: ./.github/actions/riot

      - name: Install LFC dependencies
        uses: ./.github/actions/lingua-franca

      - name: Run platform tests
        working-directory: ${{ github.workspace }}/test/platform/riot
        run: timeout 180 ./runAll.sh

      - name: Build examples
        working-directory: ${{ github.workspace }}/examples/riot
        run: ./buildAll.sh
        
      - name: Clone template repository
        uses: actions/checkout@v3
        with:
          repository: lf-lang/lf-riot-uc-template
          submodules: recursive
          path: lf-riot-uc-template

      - name: Test template repository
        working-directory: ${{ github.workspace }}/lf-riot-uc-template
        run: ./.github/scripts/run-all.sh


