name: "Platform: RIOT"

on:
  pull_request:

jobs:
  ci:
    name: Build examples and run tests
    runs-on: ubuntu-24.04
    container:
      image: riot/riotbuild:latest
    env:
      RIOT_COMMIT_ID: "cb5500b4b7600d95f42a3070abae402be4f63845"
      RIOTBASE: "/opt/riot-cb5500b4b7600d95f42a3070abae402be4f63845"
      REACTOR_UC_PATH: ${{ github.workspace }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install RIOT dependencies
        uses: ./.github/actions/riot

      - name: Install LFC dependencies
        uses: ./.github/actions/lingua-franca

      - name: Run platform tests
        working-directory: ${{ github.workspace }}/test/platform/riot
        run: ./runAll.sh

      - name: Build examples
        working-directory: ${{ github.workspace }}/examples/riot
        run: ./buildAll.sh
