name: "Platform: RIOT"

on:
  pull_request:

jobs:
  ci:
    name: Build examples and run tests
    runs-on: ubuntu-latest
    container:
      image: riot/riotbuild:latest
    env:
      RIOT_VERSION: "2024.07"
      RIOTBASE: "/opt/riot-2024.07"
      REACTOR_UC_BASE: ${{ github.workspace }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install dependencies
        uses: ./.github/actions/riot

      - name: Build examples
        working-directory: ${{ github.workspace }}/examples/riot
        run: ./buildAll.sh

      - name: Run platform tests
        working-directory: ${{ github.workspace }}/test/platform/riot
        run: ./runAll.sh
