name: "Platform: Zephyr"

on:
  pull_request:
  
jobs:
  ci:
    name: Build examples
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install dependencies
        uses: ./.github/actions/zephyr
      
      - name: Setup environment
        run: source env.bash

      - name: Build examples
        working-directory: ${{ github.workspace }}/examples/zephyr
        run: ./buildAll.sh
      
