name: "Platform: Zephyr"

on:
  push:
    branches: [ main ]
  pull_request:
  
jobs:
  ci:
    name: Build examples
    runs-on: ubuntu-latest
    container:
      image: debian:latest
    env:
      REACTOR_UC_PATH: ${{ github.workspace }}
    steps:
      - name: Install Git
        run: |
          apt-get update
          apt-get install cmake git -y
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Zephyr dependencies
        uses: ./.github/actions/zephyr

      - name: Install LFC dependencies
        uses: ./.github/actions/lingua-franca

      - name: Build examples
        working-directory: ${{ github.workspace }}/examples/zephyr
        run: ./buildAll.sh
      
      - name: Run template tests
        working-directory: ${{env.ZEPHYR_TEMPLATE_DIR}}
        run: ./.github/scripts/run-all.sh
      
