name: "Platform: Zephyr"

on:
  pull_request:
  
jobs:
  ci:
    name: Build examples
    runs-on: ubuntu-24.04
    env:
      REACTOR_UC_PATH: ${{ github.workspace }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: recursive

      - name: Install Zephyr dependencies
        uses: ./.github/actions/zephyr

      - name: Install LFC dependencies
        uses: ./.github/actions/lingua-franca

      - name: Build examples
        working-directory: ${{ github.workspace }}/examples/zephyr
        run: ./buildAll.sh
      
      - name: Run template tests
        working-directory: ${{env.ZEPHYR_TEMPLATE_DIR}}
        run: ./.github/scripts/runAll.sh
      
